<div class="container py-5">
  <h1>Criar Viagem</h1>

  <%= simple_form_for @trip do |f| %>
    <%= f.input :city, label: "Cidade", input_html: { class: "bg-white rounded-3 shadow-sm" } %>
    <%= f.input :content, label: "Descrição", input_html: { class: "bg-white rounded-3 shadow-sm" } %>
    <%= f.button :submit, "Criar Viagem", class: "btn btn-primary me-2" %>
  <% end %>
</div>
