<% if notice %>
  <div class="container mt-3">
    <div class="alert alert-success"><%= notice %></div>
  </div>
<% end %>

<% if alert %>
  <div class="container mt-3">
    <div class="alert alert-danger"><%= alert %></div>
  </div>
<% end %>
