<div class="container py-5">

  <%= turbo_stream_from @chat %>

  <div id="messages" data-controller="chat-scroll" class="mb-4">
    <%= render @chat.messages %>
  </div>

  <div id="new_message_container" class="mt-4">
    <%= render "messages/form", chat: @chat, message: @message %>
  </div>

</div>
