<div class="container py-5 text-center">
  <h1 class="display-4 fw-bold">Quick</h1>

  <p class="lead mt-3">
    Generate quick trip ideas with AI based on city, travel style, duration and budget.
  </p>

  <div class="mt-4">
    <% if user_signed_in? %>
      <%= link_to "Create Trip", "#", class: "btn btn-primary btn-lg me-2" %>
      <%= link_to "My Trips", "#", class: "btn btn-outline-dark btn-lg" %>
    <% else %>
      <%= link_to "Sign Up", new_user_registration_path, class: "btn btn-primary btn-lg me-2" %>
      <%= link_to "Login", new_user_session_path, class: "btn btn-outline-dark btn-lg" %>
    <% end %>
  </div>
</div>
